.dropdwon_wrapper{
    background-color: rgb(255,255,255);
    position: relative;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
}

.dropdown_overlay{
    width: 100%;
    position: absolute;
    top: 35px;
    background: #fff;
    z-index: 1;
    color: rgb(32,31,30);
    font-size:12px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.133) 0px 3.2px 7.2px 0px, rgba(0,0,0,0.11) 0px 0.6px 1.8px 0px;
    outline: transparent none medium;
}

.dropdown_label{
    padding: 8px;
}
.dropdown_label:hover{
    background-color: rgba(243,242,241);
    color: rgb(32,31,30)
}
